<div class="row">
  <div class="span4 offset4">
    <%= form_for(@connection, :url=>target) do |f| %>
  <% if @connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

      <ul>
      <% @connection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_of_the_other_website %>
    <%= f.text_field :website_name %>
  </div>
  <div class="field">
    URL of the website <small>(for example: <tt>www.example.com</tt>)</small>
    <%= f.text_field :website_url %>
  </div>
  <div class="field">
    <%= f.label 'Your username on the website' %>
    <%= f.text_field :account_name %>
  </div>
  <div class="field">
    Link to your user page on the website <small>(for example: <tt>www.example.com/user/MyName</tt>)</small> (optional)
    <%= f.text_field :homepage_url %>
  </div>

  
  
  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary" %>
  </div>
<% end %>

  </div>
</div>



