<% if notice %>
	<p id="notice">
	<%= notice %>
	</p>
<% end %>

<div>
	<h3 style="display:inline">
		<% if current_user and current_user.id == @connection.user_id %>
			<a href="/user/<%= current_user.pretty_name %>" class="userlink">Welcome, <%= current_user.pretty_name %>!</a>
			&raquo; <a href="/connections/" class="userlink">manage connections</a>
		<% else %>
			<a href="/users/<%= @connection.user.pretty_name %>" class="userlink"><%= @connection.user.pretty_name %>'s profile</a>
			&raquo; connection
		<% end %>
		&raquo; <%= @connection.short_description %></h3> <i class="icon-edit"></i>
	</h3>
</div>

<%= render 'form', :target => '/connections/'+@connection.user.pretty_name+'/'+@connection.unique_token+'/update/' %>
