<style>
	.connection {
		margin-right:15px;
	}
	.marked {
		text-decoration: line-through;
		color: #800;
	}
	a.marked:hover, a.marked:active {
		color:#f00;
	}
	.unbreakableForm {
		white-space: nowrap;
	}

</style>


<% unless notice.nil? %>
<div id="notice" onclick="$(this).css('display','none')">
	<%= notice %>
</div>
<% end %>

<% unless current_user %>

	You are not logged in.

<% else %>

	<h2 class="subheader">public profile text</h2>

	<%= form_for(current_user, :url=>"/profile") do |f| %>
		<%= f.text_area :description, :maxlength => 360 %>
		<%= f.submit "update", class: "button", style: "font-size:20px;" %><div class="right">remaining: <span id="remaining"><%= 360-(current_user.description.nil? ? 0 : current_user.description.length) %></span></div>
	<% end %>

	<hr/>

	<h2 class="subheader">identities</h2>

	<p>Tip: Use <a href="/about#3.5">verifiable links</a> if possible.<i class="icon-large icon-red icon-remove" style="position:absolute; left:-999999999px;"></i></p>

	<p style="font-size:16pt;">
	<% if @connections.length > 0 %>
		<span id="connections">
		<% @connections.each do |connection| %>
		<span class="connection">
		<a href="#" onclick="$(this).children('i').toggleClass('icon-black').toggleClass('icon-red'); $(this).next().toggleClass('marked'); return false;"><i class="icon-large icon-black icon-remove"></i></a>
		<a target="_blank" href="<%= connection.show_homepage_url %>" onclick=""><%= connection.website_name %></a></span>
		<% end %></span>
	<% end %>


	<span class="unbreakableForm">
		<input style="width:144px; display:inline;" type="text" placeholder="new link text" />
		<input style="width:360px; display:inline;" type="text" placeholder="http://www.example.com/myname" />
	</span>
	<%= link_to 'add/remove', connections_new_path, class: 'button' %>
	</p>


		

<% end %>
<script>
	$('textarea').keypress(function(){
		var thing = this;
		setTimeout(function(){$("#remaining").html(360 - thing.value.length);}, 10);
    });
</script>


