  <!-- profile/new -->
  <div class='center panel large'>		
  	<h3 class='subheader'>Connect Profiles From Other Sites</h3>
  </div>
  <div class='columns-12 large'>	  	
  	<%= form_for(@connection, :url=>"/profile") do |f| %>

  	<label>Website Name</label>
  	<%= f.text_field :website_name %>

  	<% if @connection.errors[:website_name].length >0 %>
  	<%= @connection.errors[:website_name].join(', ') %>
  	<% end %>


  	URL of your page there
  	<%= f.text_field :homepage_url %>

  	<% if @connection.errors[:homepage_url].length >0 %>
  	<%= @connection.errors[:homepage_url].join(', ') %>
  	<% end %>


  	<br>

  	<%= f.submit "add to profile", class: "button right" %>
  	<% end %>
  </div>
</div>




