<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<% if @connection.nil? %>
	<h3>Connection: not found</h3>
	<h4 class="link_expired">The link is expired or invalid.</h4>
<% else %>
	<div>
		<h3>
			<% if current_user and current_user.id == @connection.user_id %>
				<%= link_to "Welcome, #{current_user.pretty_name}!", "/user/#{current_user.pretty_name}", :class => "userlink" %>
				&raquo; 
				<%= link_to "manage connections", "/connections/", :class => "userlink" %>
			<% else %>
				<%= link_to "#{@connection.user.pretty_name}'s profile", "/user/#{@connection.user.pretty_name}", :class => "userlink" %>
				&raquo; connection
			<% end %>
			&raquo; <%= @connection.short_description %>
		</h3>
	</div>

	<div class="span6 offset3">
		<div class="rounded_box">
			<p>
			Endorster user
				<a href="/user/<%= @connection.user.pretty_name %>"> <i class="icon-user"></i> <%= @connection.user.pretty_name %></a>
			</p>
			<p>
			is user
			<% if @connection.homepage_url.length > 0 %>
				<a target="_blank" href="<%= @connection.show_homepage_url %>"><%= @connection.account_name %> <i class="icon-share"></i></a>
			<% else %>
				<b><%= @connection.account_name %></b>
			<% end %>
			</p>
			<p>
			asdf
			</p>
		</div>
	</div>
<% end %>
