

<%= form_for(@connection, :url=>target) do |f| %>
  <% if @connection.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

    <ul>
      <% @connection.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name_of_the_other_website %>
    <%= f.text_field :website_name %>
  </div>
  <div class="field">
    URL of the website <small>(for example: <tt>www.example.com</tt>)</small>
    <%= f.text_field :website_url %>
  </div>
  <div class="field">
    <%= f.label 'Your username on the website' %>
    <%= f.text_field :account_name %>
  </div>
  <div class="field">
    Link to your user page on the website <small>(for example: <tt>www.example.com/user/MyName</tt>)</small> (optional)
    <%= f.text_field :homepage_url %>
  </div>
  <div class="field">
    Allow this website to make ratings on behalf of your Endorster account?
    <%= f.check_box :write_permission %>
  </div>
  <div class="field">
    Show this account connection on your public profile?
    <%= f.check_box :public %>
  </div>

  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
  <% end %>





