div.form{
height:380px;
}
table.form{
	width: 536px;
}

table.form tr {
	width:75%
}
.ui-autocomplete-term { 
	font-weight: bold; 
	color: blue; }

	/* Basic formatting */
	body {
		font-family: Helvetica, sans-serif;
		margin:0;
	}
	#bodyDiv {
		height:555px;
		width:800px;
		margin-left:auto;
		margin-right:auto;
		overflow-y:hidden;
	}

	b {
		font-size:14pt;
	}
	a {
		text-decoration:none;
	}
	a:hover, a:visited:hover {
		color:#08f;
	}
	a:visited {
		color:#008;
	}
	h1 {
		font-family:"Arial Black", sans-serif;
		margin-top:10px;
	}


	/* Bar at the top */
	.fullCentered {
		width:800px;
		margin-left:auto;
		margin-right:auto;
	}
	.topBar {
		background-color:black;
		background-image: -moz-linear-gradient(top, #333, #333, #222, #333);
		background-image: -webkit-linear-gradient(top, #333, #333, #222, #333);
		color:white;
		height:60px;
	}
	.topElement {
		margin:20px 10px 0 10px;
		font-size: 16pt;
	}
	.topElement a {
		color: #fff;
	}
	.topElement a:hover {
		color: #ccf !important;
	}
	.homeLink {
		font-variant:small-caps;
		font-size:18pt;
		font-weight:bold;
	}


	/* Main div */
	.mainDiv {
		background-color:#eee;
		height:492px;
		-moz-border-radius: 0 0 15px 15px;
		border-radius: 0 0 15px 15px;
	}

	.ui-autocomplete {
		position: absolute;
		list-style: none!important;
		margin: 0;
		padding: 0;
		border: solid 1px #999;
		cursor: default;
	}

	li.ui-menu-item{
		background-color: #FFF;
		border-top: solid 1px #DDD;
		margin: 0;
		padding: 0;
	}

	.ui-menu-item a {
		color: #000;
		display: block;
		padding: 5px;
	}

	a.ui-state-hover, a.ui-state-active {
		background-color: #FFFCB2;
	}

	/* Bar to the left */
	.leftBar {
		width:100px;
	}
	.leftBar div {
		width:100%;
		height:82px; 
		cursor:pointer;
		line-height:82px;
		background-image: -moz-linear-gradient(top, #ddd, #aaa);
		background-image: -webkit-linear-gradient(top, #ddd, #aaa);
		font-size:16pt;
		text-align:center;
		vertical-align:middle;
		/*visibility:hidden;*/
	} 
	.leftBar div:hover {
		background-image: -moz-linear-gradient(top, #bbc, #eef, #bbc);
		background-image: -webkit-linear-gradient(top, #bbc, #eef, #bbc);
	}
	.leftBar a, a:hover {
		color:black !important;
	}

	.twoLine {
		line-height: 20px !important;
		padding-top: 20px  !important;
		height:62px !important;
	}
	.currentPage {
		border-right:8px solid #00a;
	}
	.lastButton { /* The last button on the left bar */
		-moz-border-radius: 0 0 0 15px;
		border-radius: 0 0 0 15px;
	}
	.notificationDot {
		position:absolute;
		margin-left:73px;
		margin-top:2px;
		width:22px;
		height:22px;
		line-height:24px;
		text-align:center;
		font-weight:bold;
		-moz-border-radius:12px;
		border-radius: 12px;
		background-image: -moz-linear-gradient(top, #dfd, #0f0);
		background-image: -webkit-linear-gradient(top, #dfd, #0f0);
		border:1px solid #0c0;
		pointer-events:none;
	}
	.messageDot {
		padding-left:6px;
		padding-right:6px;
		color:#000;
		text-align:center;
		font-weight:bold;
		-moz-border-radius:16px;
		border-radius: 16px;
		background-image: -moz-linear-gradient(top, #cfc, #0f0);
		background-image: -webkit-linear-gradient(top, #cfc, #0f0);
		border:1px solid #0c0;
		cursor:pointer;
	}
	.messageDot:hover {
		background-image: -moz-linear-gradient(top, #efe, #8f8);
		background-image: -webkit-linear-gradient(top, #efe, #8f8);
		border:1px solid #6f6;
	}


	/* Largest area */
	.largestArea {
		position:relative;
		top:-480px;
		left:100px;
		width:600px;
		padding-left:30px;
	}

	h1.username {
		display:block;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width:400px;
		float:left;
		font-size:20pt;
		margin-bottom:0;
	}

	h1.breadCrumbs {
		float:left;
		font-size:20pt;
		margin-bottom:0;
	}

	#notice {
		float:right;
		color:#0a0;
		margin-top:15px;
		margin-right:-30px;
		width:230px;
		text-align:right;
		font-style:italic;
	}

	.roundBox  {
		-moz-border-radius: 15px;
		border-radius: 15px;
		height:150px;
		padding:8px;
		border: 2px solid #aaa;
		background-color: #fff;
		float:left;
		overflow:hidden;
	}
	.roundBox p {
		margin-top:7px;
		text-align:justify;
		text-justify:newspaper;
	}
	.upperBox {
		margin-top:0; 
	}
	.lowerBox {
		margin-top:40px;
	}
	.leftBox {
		width: 200px;
	}
	.rightBox {
		width: 300px;
		margin-left:50px;
	}

	.largeButton {
		-moz-border-radius: 15px;
		border-radius: 15px;
		cursor:pointer;
		font-size:14pt;
		height:50px;
		background-image: -moz-linear-gradient(top, #aaa, #ddd);
		background-image: -webkit-linear-gradient(top, #aaa, #ddd);
		width:auto !important;
	}

	.redButton {
		background-image: -moz-linear-gradient(top, #f00, #faa);
		background-image: -webkit-linear-gradient(top, #f00, #faa);
	}

	.ratingTable {
		width:100%;
		table-layout:fixed;

	}
	.ratingTable div.nameDiv {
		max-width:100px;
		overflow:hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.rightBordered {
		border-right:1px solid #ddd;
	}
	.rightAligned {
		text-align:right;
	}

	.footer {
		position:absolute;
		top:555px;
		width:790px;
		font-style:italic;
		color:#666;
		text-align:right;
	}

	.footer a {
		color:#666;
	}
	.footer a:hover {
		color:#333;
	}


	#notifications {
		font-size:12pt;
		display:none;
		position:absolute;
		z-index:1;
		background-color:#cfc;
		color:#000;
		border:2px solid #cfc;
		margin-top:20px;
		padding:0;
		width:200px; 
		margin-left:-80px;	
		-moz-border-radius: 15px;
		border-radius: 15px;
	}

	#notifications td {
		cursor:pointer;
	}

	#notifications a {
		display:block;
		color:inherit;
		padding:5px;
		outline:none;
	}

	#notifications a:hover {
		color:inherit !important;
	}


	#notifications tr.odd {
		background-color:#cfc;
	}

	#notifications tr.even {
		background-color:#fff;
	}
	#notifications tr:hover {
		background-color:#8f8;
	}

	#notifications tr.bottomRow {
		text-align:center;
		background-color:#cfc;
		font-style:italic;

	}

	#notifications td.bottomRow {
		text-align:center;
		-moz-border-radius: 0 0 15px 15px !important;
		border-radius: 0 0 15px 15px !important;
		font-style:italic;
	}

	#notifications tr.even td.bottomRow {
		background-color:#fff;
	}
	#notifications tr.odd td.bottomRow {
		background-color:#cfc;
	}
	#notifications tr td.bottomRow:hover {
		background-color:#8f8;
	}


	.scoreBox {
		margin:1px; padding:5px 10px 0px 10; -moz-border-radius:15px; border-radius:15px; border:1px solid #888;
	}

	.form {
		font-size:14pt;
	}

	.form th {
		text-align:right;
		padding-right:10px;
	}

	.form input[type=text], input[type=password] {
		font-size:14pt;
		height:50px;
		padding:5px;
		width:100%;
		-moz-border-radius:10px;
		border-radius:10px;
		border: solid 1px #ccc;
	}

	.form textarea {
		font-size:12pt;
		padding:5px;
		width:100%;
		-moz-border-radius:10px;
		border-radius:10px;
		border: solid 1px #ccc;
		resize: none;
	}

	.errorText {
		color: #d00;
	}
	.field_with_errors input, .field_with_errors textarea { /* This name is preset by Rails. */
		background-color: #fdd;
		float:left;
	}

	table.grayZebra th, table.grayZebra td {
		padding: 5px;
	}

	table.grayZebra tr.odd {
		background-color:#fff;
	}
	table.grayZebra tr.even {
		background:none;
	}
	table.grayZebra th {
		font-weight:normal;
		text-align:center;
	}

	table.clickableTable tr {
		cursor:pointer;
	}
	table.clickableTable tr.odd:hover, tr.even:hover{
		background-color:#999;
	}

	.headerRow {
		font-weight:bold;
		cursor:default !important;
		background-color:none;
	}

