<h2 class='subheader center'>forward to another Endorster account</h3>
<div class="large-8 large-offset-2 columns">


	<p class="justified">If you already have another Endorster account, you can <strong>forward all ratings</strong> from this account to that one. Then, all ratings sent or received by <a href="/user/<%= current_user.pretty_name %>"><%= current_user.pretty_name %></a>, in the past and in the future, will appear on the other account instead. This account's profile will redirect to the other one, and it will no longer be possible to log into this account.</p>

	<p class="justified"><strong>This action cannot be undone. Only do this if you are the owner of both accounts.</strong> You will need to log into the other account to confirm the connection.</p>

</div>
<div style="clear:both;"></div>

<div class="form large-6 large-offset-3 columns">
		<%= form_for(@association_request, :url=>"/profile/connect",  :html => {}, :id => "amy" ) do |f| %>
		<%= f.text_field :to, :placeholder => 'username of your other account' %>&nbsp;
		<%= f.submit "submit request",  class: "button right" %>

		<p><% if @association_request.errors[:to].length >0 %>
			<p class='messages'><%= @notice if @notice %></p>
			<p class="errorText"><%= @association_request.errors[:to].join(', ') %></p>
			<% end %>
			<% end %>
</div>


