<h4 class='subheader'>
	<% if @user == current_user %>
	Ratings you've left for others.
	<%else%>
	Ratings <%= @user.pretty_name%> Has Left For Others
	<%end%>
</h4>
<% if @oratings.length > 0 %>
<% @oratings.each do |rating|%>
<tr>
	<td>
		<%= link_to rating.ratee.pretty_name, rating.ratee %>
	</td>
	<td><%= rating.signed_value.html_safe %></td>
	<% end %>
	<td/>
</tr>
</table>
<%else%>
<br>
Dust
<% end %>

<h4 class='subheader'>
	<% if @user == current_user %>
	Ratings Others Left For You
	<% else %>
	Ratings Others Left For <%= @user.pretty_name%>
	<% end %> 
	</h4>
	<% if @iratings.length > 0 %>
	<table>
		<% @iratings.each do |rating|%>
		<tr>
			<td><%= link_to rating.rater.pretty_name, rating.rater %></td>
			<td><%= rating.signed_value.html_safe %></td>
		</tr>
		<% end %>
	</table>
	<% end %>
</p>
