
<% if current_user == @viewing_user%>
	<h3 class='subheader'>your new notifications</h3>
	<% if current_user.notifications.length > 0  %>
		<ul class='no-style' style="background-color:#8f8;">
		<% current_user.notifications.each do |note| %>
		<li><a class='notification' href="<%=note.base_url+note.thing_id%>"> <%= note.text %></a> 
			</li> 
		<%end%>
		</ul>
		<%= link_to "dismiss all", dismiss_path, :class => 'button', :remote => :true %>
	<% else %>
		<p><i>no notifications</i></p>
	<% end %>
<% end %>

<h3 class='subheader'><%= @viewing_user.username %>'s activity </h3>
<ul class=no-style>
<% @ratings.each do |rate| %>
<% unless rate.rater == nil %>
<li>
<a href="/user/<%= rate.rater.pretty_name %>"><%= rate.rater.pretty_name %></a> gave 
<a href="/user/<%= rate.ratee.pretty_name %>"><%= rate.ratee.pretty_name %></a>
a rating of <%= rate.value %> <%= date_span(rate.created_at).html_safe %></li>

<%end%>
<%end%>
</ul>

