

	<h1>activate account</h1>
	<h3>Username: <%= @user.pretty_name %>
	<table class="form">
	<%= form_for(@user, :url => :activate) do |f| %>
		
      
		<tr><th>New password</th><td><%= f.password_field :password %></td></tr>
		
		<% if @user.errors[:password].length >0 %>
			<tr><th></th><td><span class="errorText"><%= @user.errors[:password].join(', ') %></span></td></tr>
		<% end %>
		
		<tr><th>Confirm new password</th><td><%= f.password_field :password_confirmation %></td></tr>
		
		<tr><td colspan=2 style="text-align:right;"><%= f.submit "Go and activate!", class: "largeButton" %></td></tr>
	<% end %>
	</table>
	</div>
