<div style="height:360px; padding-top:15px;">

	<p>You are about to declare publicly that
		<b><%= link_to @association_request.to.pretty_name, @association_request.to %></b> and <b><%= link_to @association_request.from.pretty_name, @association_request.from %></b> are one and the same person, and that person is you.</p>

		<p>All of the ratings from both accounts, whether currently existing or in the future, will be merged into one identity. <b><%= link_to @association_request.to.pretty_name, @association_request.to %></b> will be your main account, while <b><%= link_to @association_request.from.pretty_name, @association_request.from %></b> will be a subsidiary of it.</p>

		<p><b>Account connection cannot be undone. <span class="errorText">If you were not the person who sent the request, reject it.</span></b></p>



		<p><input type="button" class="largeButton" onclick="location.href='/profile/connect/<%= @association_request.id %>/reject';" value="reject connection" />

			<input type="button" class="largeButton" onclick="$('#finalButtons').css('display', 'block');" value="confirm connection" /></p>

			<div id="finalButtons" style="display:none">

				Are you sure?<br/>
				<input type="button" class="largeButton" onclick="$('#finalButtons').css('display', 'none');" value="no, cancel" />
				<input type="button" class="largeButton redButton" onclick="location.href='/profile/connect/<%= @association_request.id %>/confirm';" value="yes, connect my accounts" />
			</div>
		</div>




