<div class='panel center'>
	<h3 class='subheader'>forward to another Endorster account</h3>
</div>

<div>
	<p>You can connect this account with your other Endorster usernames. This will permanently merge all of the ratings on both accounts into one identity. <strong>You will need to confirm the connection from the other account.</strong>

		<div class="form">
			<%= form_for(@association_request, :url=>"/profile/connect") do |f| %>
			<label>Username:</label>
			<%= f.text_field :to , :style=>"width:72%" %>&nbsp;<%= f.submit "submit request", class: "largeButton" %>

			<p><% if @association_request.errors[:to].length >0 %>
				<p class="errorText"><%= @association_request.errors[:to].join(', ') %></p>
				<% end %>
				<% end %>
			</div>
		</div>



