<% unless notice.nil? %>
<div id="notice" onclick="$(this).css('display','none')">
	<%= notice %>
</div>
<% end %>

<h2 class="subheader">users awaiting your rating</h2>

	<% if @envelopes.length > 0 %>
		<table border=0>
			<% @envelopes.each do |envelope| %>
			<tr>
				<td><a href="/user/<%= envelope.ratee.pretty_name %>"><%= envelope.ratee.pretty_name %></a></td>
				<td style="text-align:center;"><a href="<%= rating_path(envelope) %>"><span style="font-size:16pt; font-weight:bold;">[<% if envelope.unlimited %>&infin;<% else %>&minus;<%= envelope.lowerlimit %>,+<%= envelope.upperlimit %><% end %>]</span></a></td>
				<td><%= envelope.comment %> <%= date_span(envelope.dateopened).html_safe %></td>
			</tr>
			<% end %>
		</table>
	<% else %>
		<p><i>none right now</i></p>
	<% end %>

