<h1>Listing users</h1>
<% if @users && @users.length > 0 %>
	<p id="notice"><%= notice %></p>
	<table>
		<tr>
			<th>Username</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<% @users.each do |user| %>
			<tr>
				<td><%= link_to user.username, user %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>No users found.</p>
<% end %>

<br />

<%= link_to 'New User', new_user_path %>
