
<h1 class="subheader center">sign up</h1>

<div class="large-6 large-offset-3 columns">


<%= form_for(@user, :url=>url_for(:controller => 'users', :action => 'create')+(params[:next].nil? ? '' : '?next='+params[:next])) do |f| %>
<%= f.text_field :username, :placeholder => 'username'  %>

<% if @user.errors[:username].length >0 %>
<span class="errorText">username <%= @user.errors[:username].join(', ') %></span>
<% end %>


<%= f.text_field :email, :placeholder => 'email (optional)'  %>

<% if @user.errors[:email].length >0 %>
<span class="errorText">email <%= @user.errors[:email].join(', ') %></span>
<% end %>

<%= f.password_field :password, :placeholder => 'password' %>

<% if @user.errors[:password].length >0 %>
<span class="errorText">password <%= @user.errors[:password].join(', ') %></span>
<% end %>

<%= f.password_field :password_confirmation, :placeholder => 'confirm password'  %>

<% if @user.errors[:password_confirmation].length > 0 %>
<span class="errorText">password confirmation <%= @user.errors[:password_confirmation].join(', ') %></span>
<% end %>

<%= f.submit "sign up", class: "button right" %>
<% end %>

</div>

