

<div class='small-12 columns'>
	<% unless notice.nil? %>
	<div id="notice">
		<%= notice %>
	</div>
	<% end %>

	<div class="row">
	<h2 class="subheader left" style="margin-top:0"><%= @viewing_user.pretty_name %></h2>
	
	<% if current_user %>
		<% if current_user != @viewing_user %>
			<a class="button right" href="/invite?user=<%= @viewing_user.pretty_name %>">invite rating</a>
		<% else %>
			<a class="button right" href="/profile">edit profile</a>
		<% end %>
	<% end %>
	</div>


	<div class="row">

		<div style="border: 1px solid #aaa; width:200px;text-align:center; float:left; margin:0 10px 10px 0; -moz-border-radius: 5px;
border-radius: 5px;">

			<% if current_user %>
			<div style="background-color:#<%= color_for_score @score %>; width:100%; padding:10px; font-size:20pt; -moz-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;">
				
					<%= @score.nil? ? "this is you!" : display_score(@score).html_safe %>
				
				
			</div>	
			<% end %>


			<div style="padding:6px;"><%= date_span(@viewing_user.created_at,"joined ").html_safe %></div>

		</div>

		<p><%= @viewing_user.description %></p>

	</div>

	<hr style="margin-top:-10px;"/>

	<h4 class="subheader" style="margin-top:-10px"><%= @viewing_user.pretty_name %>'s identities</h4>

	<% if @connections.length > 0 %>
		<p><% @connections.each_with_index do |connection,index| %>
			<a target="_blank" href="<%= connection.show_homepage_url %>"><%= connection.website_name %></a><% if index != @connections.length-1 %> &middot; <% end %>
		<% end %></p>
	<% else %>
		<p><i>none yet!</i></p>
	<% end %>


	<hr style="margin-top:-10px;"/>
	<h4 class="subheader" style="margin-top:-10px">ratings received</h4>

	<% if @iratings.length > 0 %>
		<table border=1>
			<% @iratings.each do |rating| %>
			<tr style="background-color:#<%= color_for_score(rating.value) %>">
				<td><a href="/user/<%= rating.rater.pretty_name %>"><%= rating.rater.pretty_name %>&nbsp;<sup><sup><%= display_score(DepthFirstSearch.score(current_user, rating.rater)).html_safe unless current_user.nil? %></sup></sup></a></td>
				<td><span style="font-size:16pt; font-weight:bold;"><%= display_score(rating.value).html_safe %></span></td>
				<td><%= rating.review %> <%= date_span(rating.dateclosed).html_safe %><% if current_user==rating.rater or current_user==rating.ratee %> (<%= rating.comment %>)<% end %></td>
			</tr>
			<% end %>
		</table>
	<% else %>
		<p><i>none yet!</i></p>
	<% end %>


	<hr style="margin-top:-10px;"/>
	<h4 class="subheader" style="margin-top:-10px">ratings given</h4>
	
	<% if @oratings.length > 0 %>
		<table border=1>
			<% @oratings.each do |rating| %>
			<tr style="background-color:#<%= color_for_score(rating.value) %>">
				<td><a href="/user/<%= rating.ratee.pretty_name %>"><%= rating.ratee.pretty_name %></a></td>
				<td><span style="font-size:16pt; font-weight:bold;"><%= display_score(rating.value).html_safe %></span></td>
				<td><%= rating.review %> <%= date_span(rating.dateclosed).html_safe %><% if current_user==rating.rater or current_user==rating.ratee %> (<%= rating.comment %>)<% end %></td></td>
			</tr>
			<% end %>
		</table>
	<% else %>
		<p><i>none yet!</i></p>
	<% end %>

</div>