<% unless notice.nil? %>
<div id="notice" onclick="$(this).css('display','none')">
	<%= notice %>
</div>
<% end %>

<% unless current_user %>

	You are not logged in.

<% else %>

	<h2 class="subheader center">account settings</h2>

<div class="large-6 large-offset-3 columns">

<%= form_for(@user, :url => :update_settings, id: "update", "data-type" => :json ) do |f| %>

	<%= f.password_field :current_password, :placeholder => "current password", :class => (@user.errors[:current_password].length > 0 ? "error" : "") %>

	<% if @user.errors[:current_password].length > 0 %>
		<small class="error">password is incorrect</small>
	<% end %>

	<%= f.text_field :email, :placeholder => "email", :class => (@user.errors[:email].length > 0 ? "error" : "") %>

	<% if @user.errors[:email].length > 0 %>
		<small class="error"><%= @user.errors[:email].join(', ') %></small>
	<% else %>
		<% unless current_user.email=="" %>
			<% if current_user.email_verified %>
				<div class="underinput" style="color:#080">verified email!</div>
			<% else %>
				<div class="underinput">unverified email &middot; <a href="/settings/v">resend verification</a></div>
			<% end %>
		<% end %>
	<% end %>
	<%= f.password_field :password, :placeholder => "new password", :class => (@user.errors[:password].length > 0 ? "error" : "") %>
	<% if @user.errors[:password].length > 0 %>
		<small class="error"><%= @user.errors[:password].join(', ') %></small>
	<% end %>

	<%= f.password_field :password_confirmation, :placeholder => "confirm new password", :class => (@user.errors[:password].length > 0 ? "error" : "") %>
	<%= f.submit "update", class: "button right" %>
	<% end %>
<% end %>
</div>
<div style="clear:both;"></div>

<hr/>


<%= render 'associate'%>


<!-- implement this later

<h3 class='subheader'>manage authorized referrers</h3>

<p>These are external websites that are authorized to invite and rate on your behalf. Only allow websites that you trust. However, if you remove a website's permission, they will no longer be able to connect to your Endorster account.</p>

<p><i>You currently have no authorized referrers.</i></p>

<table border=1>
	<tr>
		<th>website</th>
		<th><span title="Allow the website to invite and rate for you." style="cursor:help;">allow</span></th>
		<th><span title="Don't allow the website to invite and rate, and don't let them ask again." style="cursor:help;">block</span></th>
		<th><span title="Remove the website from the list, but let them ask again in the future." style="cursor:help;">delete</span></th>
	</tr>
	<tr>
		<td><a href="http://www.facebook.com">Facebook</a></td>
		<td><input type="radio" name="Facebook" value="allow" /></td>
		<td><input type="radio" name="Facebook" value="block" /></td>
		<td><input type="radio" name="Facebook" value="delete" /></td>
	</tr>
	<tr>
		<td><a href="http://www.airbnb.com">AirBnb</a></td>
		<td><input type="radio" name="AirBnb" value="allow" /></td>
		<td><input type="radio" name="AirBnb" value="block" /></td>
		<td><input type="radio" name="AirBnb" value="delete" /></td>
	</tr>
	<tr>
		<td><a href="http://www.picplace.com">PicPlace</a></td>
		<td><input type="radio" name="PicPlace" value="allow" /></td>
		<td><input type="radio" name="PicPlace" value="block" /></td>
		<td><input type="radio" name="PicPlace" value="delete" /></td>
	</tr>
</table>

<input type="submit" class="button" value="update list" />

-->

