
<div class="large-9 columns">
	<h1 class="username"><%= @user.pretty_name %></h1>
	<% if !notice.nil? %><div id="notice"><%= notice %></div><% end %>


	<% if @user.master %>
	<% if current_user and @user.master == current_user %>
	<p><b>This account is a subsidiary of your main account.</b> As such, the score is presumed to be infinite.</p>
	<% elsif @user == current_user %>
	<b>Welcome!</b><br/>
	<p>This is your own Endorster dashboard. Manage your account using the options to the left. For more information, see <a href="">Managing your account</a>.</p>
	<% elsif current_user and current_user.master and current_user.master == @user.master %>
	<p><b>This account is another subsidiary of <%= link_to 'your main account', @user.master %>.</b> As such, the score is presumed to be infinite.</p>
	<% else %>
	<p><b>This account is a subsidiary of <%= link_to 'another account', @user.master %>.</b> Visit that user's page for the full profile.</p>
	<% end %>
	<% else %>
	<% if @user == current_user %>
	<b>Welcome!</b><br/>
	<p>This is your own Endorster dashboard. Manage your account using the options to the left. For more infor&shy;mation, see <a href="">Managing your account</a>.</p>
	<% elsif current_user and current_user.master and current_user.master == @user %>
	<p><b>You are looking at your main account from one of its subsidiaries.</b> As such, the score is presumed to be infinite.</p>
	<% elsif current_user %>

	<b>Your score for this user:</b>
	<div class="scoreBox" style="background-color:#<%= color_for_score @score %>; font-size:30pt; margin-bottom:5px;"><%= display_score(@score).html_safe %></div>

	<b>This user's score for you:</b>
	<div class="scoreBox" style="background-color:#<%= color_for_score @backscore %>; font-size:20pt;"><%= display_score(@backscore).html_safe %></div>


	<!-- <div style="text-align:right; margin-top:2px;"><a href=""><i>details</i> &raquo;</a></div> -->
	<% else %>
	<b>You are not logged in!</b>
	<p><a href="/login">Log in</a> or <a href="/signup">sign up</a> to see your score for this user.</p>

	<% end %>
	<% end %>


<div class="rightBox upperBox roundBox">
	<b><% if @user == current_user %>You have<% else %>This user has<% end %> been rated by...</b>
	<p>
		<% if @iratings.length == 0 %>
		<i>no one yet</i>
		<% else %>
		<table>
			
			<% for i in 0..5 %>
			<% if @iratings.length > i %>
			<tr>
				<td class="rightAligned"><div class="nameDiv">
					<%= link_to @iratings[i].rater.pretty_name, @iratings[i].rater %>
				</div></td>
				<td class="rightBordered" style="width:10%"><%= @iratings[i].signed_value.html_safe %></td>

				<% if @iratings.length > i+6 %>
				<% if @iratings.length > 11 and i+6==11 %>
				<td class="rightAligned"><a href=""><i>more</i> &raquo;</a></td>
				<% else %>
				<td class="rightAligned"><div class="nameDiv">
					<%= link_to @iratings[i+6].rater.pretty_name, @iratings[i+6].rater %>
				</div></td>
				<td class="rightBordered"><%= @iratings[i].signed_value.html_safe %></td>
				<% end %>
				<% else %>
				<td/>
				<% end %>
			</tr>
			<% end %>
			<% end %>

		</table>
		<% end %>
	</p>
</div>


<div class="leftBox lowerBox roundBox">
	<b><% if @user==current_user %>Your<% else %>This user's<% end %> identities</b>
	<p>
		<% if @facets and @facets.length > 0 %>
		<% @facets.each_with_index do |facet,index| %>
		<a href="/user/<%= facet.pretty_name %>">&harr;</a><% if index != @facets.length-1 or (@connections and @connections.length > 0) %> &bull; <% end %>
		<% end %>
		<% end %>
		
		<% if @connections and @connections.length > 0 %>
		<% @connections.each_with_index do |connection,index| %>
		<a target="_blank" href="<%= connection.show_homepage_url %>"><%= connection.website_name %></a><% if index != @connections.length-1 %> &bull; <% end %>
		<% end %>
		<% end %>
		
		<% if @connections.length + @facets.length == 0 %>
		<i>none listed</i>
		<% end %>
	</p>
</div>

<div class="rightBox lowerBox roundBox">
	
	<b><% if @user == current_user %>You have<% else %>This user has<% end %> rated...</b>
	<p>
		<% if @oratings.length == 0 %>
		<i>no one yet</i>
		<% else %>
		<table>
			
			<% for i in 0..5 %>
			<% if @oratings.length > i %>
			<tr>
				<td><div>
					<%= link_to @oratings[i].ratee.pretty_name, @oratings[i].ratee %>
				</div></td>
				<td><%= @oratings[i].signed_value.html_safe %></td>

				<% if @oratings.length > i+6 %>
				<% if @oratings.length > 11 and i+6==11 %>
				<td><a href=""><i>more</i> &raquo;</a></td>
				<% else %>
				<td><div>
					<%= link_to @oratings[i+6].ratee.pretty_name, @oratings[i+6].ratee %>
				</div></td>
				<td><%= @oratings[i].signed_value.html_safe %></td>
				<% end %>
				<% else %>
				<td/>
				<% end %>
			</tr>
			<% end %>
			<% end %>

		</table>
		<% end %>
		
	</div>
</div>


