<style>
table {
    border-top:1px dotted #666;
    border-bottom:1px dotted #666;
}
tr.even {
    background-color:#ccc !important;
}

h2 {
    border-bottom: 2px solid #000;
}

h3 {
    border-bottom: 1px dotted #000;
}
</style>



<h1>Endorster API, version 0.4</h1>


<h2>Contents</h2>

<ol>
	<li><a href="#1">Overview</a>
		<ol>
			<li><a href="#1.1">Status codes and error messages</a></li>
			<li><a href="#1.2">Authentication</a></li>
		</ol>
	</li>
	<li><a href="#2">Non-authenticated functions</a>
		<ol>
			<li><a href="#2.1">GET /api/score.json</a></li>
			<li><a href="#2.2">GET /api/invitation.json</a></li>
            <li><a href="#2.3">GET /api/next_sequence.json</a></li>
           
		</ol>
	</li>
	<li><a href="#3">Authenticated functions</a>
		<ol>
			<li><a href="#3.1">POST /api/signup.json</a></li>
			<li><a href="#3.2">POST /api/invite.json</a></li>
			<li><a href="#3.3">POST /api/rate.json</a></li>
            <li><a href="#3.4">POST /api/request_access.json</a></li>
			<li><a href="#3.5">POST /api/initiate_activation.json</a></li>
			<li><a href="#3.6">POST /api/set_secret.json</a></li>
			<li><a href="#3.7">POST /api/set_public_key.json</a></li>
			<li><a href="#3.8">POST /api/secure.json</a></li>
		</ol>
	</li>
    <li><a href="#4">Usage examples</a>
        <ol>
            <li>Setting up</li>
            <li>Inviting</li>
            <li>Changing to secure authentication</li>
            <li>Rating</li>
            <li>Activating</li>
        </ol>
    </li>
</ol>


<h2><a name="1">Overview</a></h2>

<p>This is the currently deployed version of the Endorster API.</p>

<p>The API is presently in alpha-testing; functions are subject to change.</p>

<p>Last updated: July 19, 2013.</p>

<h3><a name="1.1">Status codes and error messages</a></h3>

<p>The response to each of these requests is a JSON-formatted string. If the request succeeds, the response will contain the following two parameters:</p>

<p><pre>
{
    "status_code":200,
    "result":<i>something</i>
}
</pre></p>

<p>If the request produces an error, the response will be:</p>

<p><pre>
{
    "status_code":<i>something</i>,
    "error_message":<i>(a human-readable message)</i>
}
</pre></p>

<p>Status codes are integers following the convention of HTTP status codes. The codes used by the Endorster API are:<p>

<table>
<tr>
<td><b><tt>status_code</tt></b></td>
<td><b>General description</b></td>
</tr>

<tr>
<td><tt>200</tt></th>
<td>The request completed successfully. (This will be the <tt>status_code</tt> whenever there is no error.)</td>
</tr>

<tr>
<td><tt>400</tt></td>
<td>Required arguments are missing, invalid, or not present in the right combination.</td>
</tr>

<tr>
<td><tt>401</tt></td>
<td>Authentication failed: either the <tt>(referrer, secret)</tt> combination is invalid, or the signature is invalid (see <a href="#1.2">Authentication</a> below).</td>
</tr>

<tr>
<td><tt>403</tt></td>
<td>Authentication succeeded, but the <tt>referrer</tt> does not have privileges to perform the requested action.</td>
</tr>

<tr>
<td><tt>404</tt></td>
<td>The requested resource is nonexistent or expired.</td>
</tr>


<tr>
<td><tt>500</tt></td>
<td>Internal server error.</td>
</tr>

<tr>
<td><tt>501</tt></td>
<td>The requested <tt>action</tt> is invalid (only occurs using Secure Authentication).</td>
</tr>

</table>

<p>If the <tt>status_code</tt> is anything other than <tt>200</tt>, <tt>error_message</tt> will provide a more detailed description of the error. If the request succeeds, <tt>result</tt> will contain the value returned (either a simple value, or another JSON object).</p>

<h3><a name="1.2">Authentication</a></h3>

<p>Authentication is not required to use the <a href="#2">non-authenticated functions</a>. The <a href="#3">authenticated functions</a> enable you to do things like create and manage user accounts, and thus require some form of authentication.</p>

<p>To use the authenticated functions, you must first have a <b>Referrer account</b> &ndash; a set of credentials with which you can authenticate. If you would like a referrer account for your own application, you may request one by <a href="mailto:info@endorster.net">emailing us</a>.</p>

<p>There are two modes of authentication: <b>Basic</b> and <b>Secure</b>.

<h4><a name="1.2.1">Basic authentication</a></h4>

<p>To use basic authentication, add the following parameters to the request that you send:</p>

<table>
<tr>
	<td><tt>referrer</tt></td>
	<td>The name of your referrer account.</td>
</tr>
<tr>
	<td><tt>secret</tt></td>
	<td>The secret key for that referrer account.</td>
</tr>
</table>

<p>Your <tt>secret</tt> is a secret that you receive when you create your referrer account. It should never be transmitted in cleartext; an eavesdropper who discovers it could potentially forge requests from your referrer account, or change its keys to render it unusable to you. Therefore, <b>you <i>must</i> connect by HTTPS when using basic authentication</b>. It is recommended that you use secure authentication unless your system doesn't support it (<a href="#1.2.2">see below</a> for details).</p>

<p>All of the authenticated functions listed below may be accessed with basic authentication except for <tt>/api/secure.json</tt>. However, even if your credentials are correct, your access may still be denied if your referrer does not have privileges associated with the Endorster account whose action is being requested (e.g., if you did not create the Endorster account, or the user has specifically revoked your referrer's privileges).</p>

<p>Once secure authentication is enabled, it will no longer be possible to use basic authentication for that referrer account.</p>

<h4><a name="1.2.2">Secure authentication</a></h4>

<p>Secure authentication uses a public-key signature scheme to obviate the need for transmitting secrets. However, it involves a bit more complexity on the part of the requester. It is not necessary to use HTTPS for secure authentication (although it doesn't hurt).</p>

<p>To enable secure authentication, you need to associate a public key with your referrer account. This can be done either at the moment of account creation, or by using the <a href=""><tt>/api/set_public_key.json</tt></a> endpoint.</p>

<p>Secure authentication is mediated through the endpoint <tt>/api/secure.json</tt>. For details of how to compose and sign a request, see the <a href="#3.8">documentation for the secure endpoint</a>.</p>

<h2><a name="2">Non-authenticated functions</a></h2>

<p>These functions require no authentication, since they only return public information and do not modify any records.</p>

<h3><a name="2.1">GET /api/score.json</a></h3>

<p>Returns the score from one user to another.</p>

<h4><a name="2.1.1">Parameters</a></h4>
<table>
<tr>
	<td><tt>from</tt></td>
	<td>The username of the source account.</td>
</tr>
<tr>
	<td><tt>to</tt></td>
	<td>The username of the destination account.</td>
</tr>
</table>

<h4><a name="2.1.2">Result</a></h4>
<table>
<tr>
	<td>The score from the source to the destination. This will be a number, unless the <tt>from</tt> and <tt>to</tt> accounts are identical or internally linked, in which case the score will be <tt>null</tt>.</td>
</tr>
</table>





<h3><a name="2.2">GET /api/invitation.json</a></h3>

<p>Returns the parties and limits to an open invitation.</p>

<h4><a name="2.2.1">Parameters</a></h4>
<table>
<tr>
	<td><tt>invitation_id</tt></td>
	<td>The ID of the invitation.</td>
</tr>
</table>

<h4><a name="2.2.2">Result</a></h4>

<table>
<tr>
	<td><tt>inviter</tt></td>
	<td>The username of the account that issued the invitation.</td>
</tr>
<tr>
	<td><tt>invitee</tt></td>
	<td>The username of the account to whom the invitation was issued.</td>
</tr>
<tr>
	<td><tt>lower_limit</tt></td>
	<td>The minimum rating which the invitee may assign. This will be a negative number, unless the invitation has no limits, in which case it will be absent.</td>
</tr>
<tr>
	<td><tt>upper_limit</tt></td>
	<td>The maximum rating which the invitee may assign. This will be a positive number, unless the invitation has no limits, in which case it will be absent.</td>
</tr>
<tr>
	<td><tt>date_opened</tt></td>
	<td>The date and time at which the invitation was issued, in the format <tt>"yyyy-mm-ddThh:mm:ssZ"</tt> (UTC time in 24-hour notation).</td>
</table>


<h3><a name="2.3">GET /api/next_sequence.json</a></h3>

<p>Returns the next sequence number for a given referrer account.</p>

<h4><a name="2.3.1">Parameters</a></h4>
<table>
<tr>
    <td><tt>referrer</tt></td>
    <td>The name of the referrer account.</td>
</tr>
</table>

<h4><a name="2.3.2">Result</a></h4>
<table>
<tr>
    <td>The next sequence number for the referrer account. If the referrer account does not have secure authentication enabled, the result will be <tt>null</tt>.</td>
</tr>
</table>



<h2><a name="3">Authenticated functions</a></h2>


<h3><a name="3.1">POST /api/signup.json</a></h3>

<p>Creates an Endorster account with privileged access enabled for the referrer. This means that the referrer will then be able to use other authenticated functions for that account. Returns the username of the account.</p>

<h4><a name="3.1.1">Parameters</a></h4>
<table>
<tr>
    <td><tt>username</tt></td>
    <td>(optional) The desired username.</td>
</tr>
<tr>
    <td><tt>password</tt></td>
    <td>(optional) The new account's password. If this is omitted, the account will be created as an "inactive" account that can't be accessed with a password until the user activates it.</td>
</tr>
</table>

<h4><a name="3.1.2">Result</a></h4>
<table>
<tr>
    <td>The username of the newly created account. This will generally be produced by concatenating the input parameters <tt>referrer + "_" + username</tt>; however, the desired name will first be stripped of any impermissible characters, truncated to fit the maximum username length, and/or suffixed with a number to distinguish it from identically named accounts which already exist. If <tt>username</tt> is omitted, a name will be chosen randomly.</td>
</tr>
</table>





<h3><a name="3.2">POST /api/invite.json</a></h3>

<p>Creates from one account an invitation to rate it, within optionally prescribed limits. Returns an ID necessary to locate the invitation later.</p>

<h4><a name="3.2.1">Parameters</a></h4>
<table>
<tr>
    <td><tt>inviter</tt></td>
    <td>The username of the account sending the invitation. The referrer must have privileged access for this account.</td>
</tr>
<tr>
    <td><tt>invitee</tt></td>
    <td>The username of the account receiving the invitation.</td>
</tr>
<tr>
    <td><tt>lower_limit</tt></td>
    <td>(optional) The minimum rating which the invitee may assign. If not omitted, it must be a negative integer.</td>
</tr>
<tr>
    <td><tt>upper_limit</tt></td>
    <td>(optional) The maximum rating which the invitee may assign. If not omitted, it must be a positive integer. <tt>lower_limit</tt> and <tt>upper_limit</tt> may be both included or omitted together, but it is not permissible to include one and omit the other.</td>
</tr>
<tr>
    <td><tt>comment</tt></td>
    <td>(optional) A comment which will be attached to the invitation and to the resulting rating. This is seen only by the parties to the invitation.</td>
</tr>
</table>

<h4><a name="3.2.2">Result</a></h4>
<table>
<tr>
    <td>The ID number of the invitation created, which can be used to access information about it or confirm a rating.</td>
</tr>
</table>




<h3><a name="3.3">POST /api/rate.json</a></h3>

<p>Confirms an invitation with a certain value (in other words, assigns a rating from the invitee to the inviter, and closes the invitation). The referrer must have privileged access for the <tt>invitee</tt> of the invitation.</p>

<h4><a name="3.3.1">Parameters</a></h4>
<table>
<tr>
	<td><tt>invitation_id</tt></td>
	<td>The ID of the invitation.</td>
</tr>
<tr>
	<td><tt>value</tt></td>
	<td>The value of the rating to be assigned. Must be an integer, and must be within the invitation's limits (if those were set).</td>
</tr>
</table>


<h4><a name="3.3.2">Result</a></h4>
<table>
<tr>
    <td>A simple boolean <tt>true</tt>, signifying success.</td>
</tr>
</table>


<h3><a name="3.4">POST /api/request_access.json</a></h3>

<h5>(Not implemented yet)</h5>

<p>Requests that an existing activated Endorster account grant access privileges to your referrer. In order to send such a request, the following conditions must be met:</p>

<ul>
    <li>The Endorster account exists</li>
    <li>The Endorster account is active (i.e., the user has set a password for it)</li>
    <li>Your referrer doesn't already have access privileges</li>
    <li>You don't already have a pending access request for the same Endorster account</li>
    <li>The user hasn't blocked your referrer</li>
</ul>

<h4><a name="3.4.1">Parameters</a></h4>
<table>
<tr>
    <td><tt>username</tt></td>
    <td>The username of the account you're asking for access privileges.</td>
</tr>
</table>

<h4><a name="3.4.2">Result</a></h4>
<table>
<tr>
    <td>A simple boolean <tt>true</tt>, signifying success.</td>
</tr>
</table>


<h3><a name="3.5">POST /api/initiate_activation.json</a></h3>

<h5>(Not implemented yet)</h5>

<p><i>Activates</i> an inactive account. That is, if an Endorster account has been created by a referrer and has never been accessed directly by the user, it is considered "inactive" because there is no password associated with it. This function sets a secret token that the user can use to activate their account, by going to <tt>https://www.endorster.net/activate/q9MUdQZ9H5ljNX1U1dxC77eElZYJKa</tt> (or whatever the secret token happens to be). This will direct the user to a form to set their password. Once they do so, the account will be active, and it will no longer be possible to use this function on it again.</p>

<h4><a name="3.5.1">Parameters</a></h4>
<table>
<tr>
    <td><tt>username</tt></td>
    <td>The username of the account you want to activate. The referrer must have access privileges for this account.</td>
</tr>
<tr>
    <td><tt>hashed_activation_code</tt></td>
    <td>The hex-encoded SHA256 hash of the secret token. This must be generated by the API user, in order to avoid transmitting secrets. For maximum security, choose a secret token that is a random string of URL-safe characters. (If the secret token contains URL-unsafe characters such as slashes or # signs, this function won't return an error because it won't know, but it will be impossible for the user to activate their account.)</td>
</tr>
</table>

<h4><a name="3.5.2">Result</a></h4>
<table>
<tr>
    <td>A simple boolean <tt>true</tt>, signifying success.</td>
</tr>
</table>


<h3><a name="3.6">POST /api/set_secret.json</a></h3>

<h5>(Not implemented yet)</h5>

<p>Changes the basic authentication <tt>secret</tt> for your referrer account. This won't work if the referrer already has secure authentication enabled.</p>

<h4><a name="3.6.1">Parameters</a></h4>
<table>
<tr>
    <td><tt>hashed_secret</tt></td>
    <td>The hex-encoded SHA256 hash of the new secret. For maximum security, choose a secret  that is a random string of characters.</td>
</tr>
</table>

<h4><a name="3.6.2">Result</a></h4>
<table>
<tr>
    <td>A simple boolean <tt>true</tt>, signifying success.</td>
</tr>
</table>


<h3><a name="3.7">POST /api/set_public_key.json</a></h3>

<p>Changes the secure authentication public key for your referrer account. This can be authenticated using either the basic or secure mode, depending on which is enabled for the referrer. If it already has secure authentication enabled, this function will simply change the public key, leaving the <tt>next_sequence</tt> unchanged. If it doesn't, it will enable secure authentication under the new <tt>public_key</tt>, and it will no longer be possible to use basic authentication for that referrer.</p>

<h4><a name="3.7.1">Parameters</a></h4>
<table>
<tr>
    <td><tt>public_key</tt></td>
    <td>The PEM-encoded public key, as a string.</td>
</tr>
</table>

<h4><a name="3.7.2">Result</a></h4>
<table>
<tr>
    <td>A simple boolean <tt>true</tt>, signifying success.</td>
</tr>
</table>


<h3><a name="3.8">POST /api/secure.json</a></h3>

<p>The endpoint for secure authentication. If you're using secure authentication, all requests for authenticated functions should go here, rather than to the endpoints listed above.</p>

<h4><a name="3.8.1">Parameters</a></h4>
<table>
<tr>
    <td><tt>request_body</tt></td>
    <td>The body of the request. This should be a <b>string</b> representing a JSON object, <b>not</b> a JSON object itself. The represented JSON object should itself contain the following values:
        <ul>
            <li><tt>sequence</tt>: An integer, equal to the number of secure-authenticated requests that the referrer has already made (0 for the first request, 1 for the second, etc.). If you lose track of your referrer account's sequence, you can find it via <a href="#2.3">/api/next_sequence.json</a>.</li>
            <li><tt>action</tt>: The privileged action that you want to perform. This can be one of <tt>signup</tt>, <tt>invite</tt>, <tt>rate</tt>, <tt>initiate_activation</tt>, or <tt>set_public_key</tt> (in short, it can be the name of any authenticated function that can be used with secure authentication).</li>
            <li><tt>params</tt>: A JSON object containing the parameters to pass into the function, the same as specified above. However, it is not necessary to include the <tt>referrer</tt> or <tt>secret</tt> parameters here.</li>
        </ul>
    </td>
</tr>
<tr>
    <td><tt>referrer</tt></td>
    <td>The name of your referrer account.</td>
</tr>
<tr>
    <td><tt>hash</tt></td>
    <td>(optional) The Base64-encoded SHA-256 hash of the value of <tt>request_body</tt>. This is not required, since the server performs hashing on its own; however, it can be helpful to check whether you are computing your own hash correctly. If this hash is invalid, you will receive an <tt>error_message</tt> saying <tt>"`hash` does not match `request_body`"</tt>.</td>
</tr>
<tr>
    <td><tt>signature</tt></td>
    <td>The Base64-encoded signature of the SHA-256 hash of the value of <tt>request_body</tt>.</td>
</tr>
</table>


<h4><a name="3.8.2">Result</a></h4>

<p>A <tt>result</tt> will only be returned if the signature is valid. If it isn't, an <tt>error_message</tt> will be returned instead.</p>

<table>
<tr>
    <td><tt>status_code</tt></td>
    <td>The status code returned by the inner function (i.e., the authenticated function given in <tt>action</tt>). This may be different from the <tt>status_code</tt> returned by <tt>/api/secure.json</tt> itself.</td>
</tr>
<tr>
    <td><tt>error_message</tt></td>
    <td>The error message returned by the inner function, if there was an error; or...</td>
</tr>
<tr>
    <td><tt>result</tt></td>
    <td>...the result returned by the inner function, if there was no error.</td>
</tr>
</table>



<h2><a name="4">Usage examples</a></h2>

<p>These examples are written in Ruby. Suppose there is a referrer named <tt>"acme"</tt> with a secret of <tt>"uhcdyhd59TLSq4GLcRIFfuRh"</tt>.</p>

<h3><a name="4.1">Signing up</a></h2>

<pre>
> require 'net/https'
> require 'uri'
> uri = URI.parse("https://www.endorster.net")
> http = Net::HTTP.new(uri.host, uri.port)
> http.use_ssl = true
> http.verify_mode = OpenSSL::SSL::VERIFY_NONE #For testing only!

> uri = URI.parse("https://www.endorster.net/api/signup.json")
> request = Net::HTTP::Post.new(uri.request_uri)
> request.set_form_data({"referrer" => "acme", "secret" => "uhcdyhd59TLSq4GLcRIFfuRh", "username" => "Alice"})
> response = http.request(request)
> puts response.body
=> {"status_code":200,"result":"acme_alice"}

> request = Net::HTTP::Post.new(uri.request_uri)
> request.set_form_data({"referrer" => "acme", "secret" => "uhcdyhd59TLSq4GLcRIFfuRh"})
> response = http.request(request)
> puts response.body
=> {"status_code":200,"result":"acme_f2ckb"}
</pre>

<h3><a name="4.2">Inviting</a></h2>

<pre>
> uri = URI.parse("https://www.endorster.net/api/invite.json")
> request = Net::HTTP::Post.new(uri.request_uri)
> request.set_form_data({"referrer" => "acme", "secret" => "uhcdyhd59TLSq4GLcRIFfuRh", "inviter" => "acme_alice",
  "invitee" => "acme_f2ckb", "lower_limit" => -100, "upper_limit" => 10, "comment" => "Please rate me!"})
> response = http.request(request)
> puts response.body
=> {"status_code":200,"result":82}
</pre>

<h3><a name="4.3">Changing to secure authentication</a></h2>

<pre>
> require 'openssl'
> key = OpenSSL::PKey::DSA.generate(1024)
> private_key = key.to_s #Store this string somewhere for later.

> uri = URI.parse("https://www.endorster.net/api/set_public_key.json")
> request = Net::HTTP::Post.new(uri.request_uri)
> request.set_form_data({"referrer" => "acme", "secret" => "uhcdyhd59TLSq4GLcRIFfuRh", "public_key" => key.public_key.to_s})
> response = http.request(request)
> puts response.body
=> {"status_code":200,"result":true}
</pre>

<h3><a name="4.4">Rating (with secure authentication)</a></h2>

<pre>
> uri = URI.parse("https://www.endorster.net/api/invitation.json")
> uri.query = URI.encode_www_form({:invitation_id => 82})
> request = Net::HTTP::Get.new(uri.request_uri)
> response = http.request(request)
> puts response.body
=> {"status_code":200,"result":{"inviter":"acme_alice","invitee":"acme_f2ckb","upper_limit":10,"lower_limit":-100,
   "date_opened":"2013-07-19T20:05:02Z"}}

> uri = URI.parse("https://www.endorster.net/api/rate.json")
> request = Net::HTTP::Post.new(uri.request_uri)
> request.set_form_data({"referrer" => "acme", "secret" => "uhcdyhd59TLSq4GLcRIFfuRh", "invitation_id" => 82, "value" => 5})
> response = http.request(request)
> puts response.body
=> {"status_code":401,"error_message":"`referrer`,`secret` combination is invalid"}

> uri = URI.parse("https://www.endorster.net/api/next_sequence.json")
> uri.query = URI.encode_www_form({:referrer => "acme"})
> request = Net::HTTP::Get.new(uri.request_uri)
> response = http.request(request)
> puts response.body
=> {"status_code":200,"result":0}

> require 'json'
> require 'base64'
> request_body = JSON.dump({ :sequence=>0, :action=>"rate", :params=> {:invitation_id=>82, :value=>5} })
> digest = OpenSSL::Digest.digest("SHA256",request_body)
> key = OpenSSL::PKey.read(private_key) #From the private_key you saved earlier.
> signature = key.syssign(digest)
> encoded_signature = Base64.encode64(signature)

> uri = URI.parse("https://www.endorster.net/api/secure.json")
> request = Net::HTTP::Post.new(uri.request_uri)
> request.set_form_data({:request_body => request_body, :referrer => "acme", :signature => encoded_signature})
> response = http.request(request)
> puts response.body
=> {"status_code":200,"result":{"status_code":200,"result":true}}
</pre>

<h3><a name="4.5">Viewing scores</a></h2>
<pre>
> uri = URI.parse("https://www.endorster.net/api/score.json")
> uri.query = URI.encode_www_form({:from => "acme_alice", :to => "acme_f2ckb"})
> request = Net::HTTP::Get.new(uri.request_uri)
> response = http.request(request)
> puts response.body
=> {"status_code":200,"result":0}

> uri = URI.parse("https://www.endorster.net/api/score.json")
> uri.query = URI.encode_www_form({:from => "acme_f2ckb", :to => "acme_alice"})
> request = Net::HTTP::Get.new(uri.request_uri)
> response = http.request(request)
> puts response.body
=> {"status_code":200,"result":5}

> uri = URI.parse("https://www.endorster.net/api/score.json")
> uri.query = URI.encode_www_form({:from => "acme_alice", :to => "acme_alice"})
> request = Net::HTTP::Get.new(uri.request_uri)
> response = http.request(request)
> puts response.body
=> {"status_code":200,"result":null}
</pre>

<h2><a name="5">Referrer accounts for testing</a></h2>

<p>You can use the following referrer accounts for testing. Note that <tt>set_secret</tt> and <tt>set_public_key</tt> are specially disabled for both accounts. If you want a real referrer account, you may request one by <a href="mailto:info@endorster.net">emailing us</a>.</p>

<h3>Basic authentication</h3>
<p>Referrer name: <tt>test1</tt></p>
<p>Secret: <tt>asdfasdfasdf</tt></p>

<h3>Secure authentication</h3>

<p>Referrer name: <tt>test2</tt></p>
<p>Private key:</p>
<pre>
-----BEGIN DSA PRIVATE KEY-----
somelongblockofcharactersasdfasdfasdfasdfasdf
asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfa
-----END DSA PRIVATE KEY-----
</pre>


<script>
$("table").each(function() {
	$(this).attr("class","grayZebra");
	$(this).find("tr").each(function(i){
		
		if (i%2 == 0) {
			$(this).attr("class","odd");
		} else {
			$(this).attr("class","even");
		}
	});
});

</script>

