<div>

<h2>Dashboard help</h2>

<p></p>

<div style="float:left; margin-right:5px" ><img src="/images/sendlink.png" /></div>
<p style="float:right"><h4 style="display:inline">Share Profile:</h4> Use this feature to generate a link to your Endorster profile 
which you can include in a public posting or email to another person to show your reputation. 
This creates a unique link, so that others can know that you're the real owner of this Endorster account.</p>
<div style="clear: both;"></div><br/>

<div style="float:left; margin-right:5px" ><img src="/images/connectaccounts.png" /></div>
<p style="float:right"><h4 style="display:inline">Connect Accounts:</h4> Create persistent links to your accounts on other websites, 
so that members of those websites can see that your account there is associated with your Endorster account. 
You may find this more convenient than generating a new link for each user on another website.
</p>
<div style="clear: both;"></div><br/>

<div style="float:left; margin-right:5px" ><img src="/images/inviteratings.png" /></div>
<p style="float:right"><h4 style="display:inline">Invite Others:</h4> Issue an invitation to one or more people to rate you. You can directly email your friends to invite them to Endorster, or send invitations to other Endorster users. You can also create a special link that you can use in messages
outside of Endorster. Use this feature to build up your network, or to indicate to another person that you're willing to stake your reputation on your 
interaction with them. See also: <i><a href="/about/#3.2">What are invitation limits?</a></i>
</p>
<div style="clear: both;"></div><br/>

<div style="float:left; margin-right:5px" ><img src="/images/confirmratings.png" /></div>
<p style="float:right"><h4 style="display:inline">Confirm Ratings:</h4> View the invitations that other users have 
sent you, and decide what rating to give them after your business with them is done.
</p>
<div style="clear: both;"></div><br/>

<div style="float:left; margin-right:5px" ><img src="/images/settings.png" /></div>
<p style="float:right"><h4 style="display:inline">Settings:</h4> Edit the email address and password associated with your account.
</p>
<div style="clear: both;"></div><br/>

<% if !current_user.nil? %>
<div>
	<a href="/user/<%= current_user.pretty_name %>" class="btn btn-primary" style="float:right"><i class='icon-chevron-left icon-white'></i> Back to dashboard</a>
</div>
<% end %>

</div>