<div class='large-12 center columns'>
<h1>Endorster</h1>
<h3>reputation for the rest of us</h3>

<a href="/about/" class="button">What is Endorster?</a>

<br/><br/>

<table style="table-layout:fixed; margin-left:auto; margin-right:auto;">
	<tr>
	<th style="width:170px;"><b>Build your own reputation</b></th>
	<td style="width:15px;"></td>
	<th style="width:170px;"><b>Use it when you need it</b></th>
	<td style="width:15px;"></td>
	<th style="width:170px;"><b>Expand your community</b></th>
	</tr>

	<tr>
	<td><img src="/images/pic1.png" width=170 height=170/></td>
	<td></td>
	<td><img src="/images/pic2.png" width=170 height=170/></td>
	<td></td>
	<td><img src="/images/pic3.png" width=170 height=170/></td>
	</tr>
</table>
</div>
