<div class="row">
  
	<div class="span4 offset4">
		<h2>Authorize rating</h2>
		<h4>from user "<% if @rating.rater %><%= @rating.rater.pretty_name %><% else %><%= params[:rr] %>
			<% end %>"</h4><br/>
		<%= form_for(@rating) do |f| %>
			<% if @rating.errors.any? %>
				<b style="color:#aa0000">Problem:
					<ul>
						<% @rating.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
				</ul></b>
			<% end %>

			<% if @rating.rater %>
				<%= f.hidden_field :rater, :value => @rating.rater.username %>
			<% else %>
				<%= f.hidden_field :rater, :value => params[:rr] %>
			<% end %>
			


			Limits: &ndash;<%= f.text_field :lowerlimit, :style=> "width: 35px;"  %> <i>to</i> +<%= f.text_field :upperlimit, :style=> "width: 35px;" %>
			<br/>
			Unlimited range?&nbsp;<%= f.check_box :unlimited, :onchange => "toggle_limits();" %><br/>

			<%= f.label :comment %>
			<%= f.text_field :comment %>

			<p>
			<%= f.submit "Authorize rating", class: "btn btn-large btn-primary" %>
			</p>

		<% end %>
	</div>
</div>

<script type="text/javascript">
  function disable(element) {
	element.disabled = true;
	element.style.backgroundColor = "LightGray";
	element.style.color = "Gray";
  }
  
  function enable(element) {
	element.disabled = false;
	element.style.backgroundColor = "White";
	element.style.color = "Black";
  }

  function toggle_limits() {
	if (document.getElementById('rating_unlimited').checked) {
		disable(document.getElementById('rating_lowerlimit'));
		disable(document.getElementById('rating_upperlimit'));
	}
	else {
		enable(document.getElementById('rating_lowerlimit'));
		enable(document.getElementById('rating_upperlimit'));
	}
  }
</script>


