<% unless notice.nil? %>
<div id="notice" onclick="$(this).css('display','none')">
	<%= notice %>
</div>
<% end %>


	<h1 class='subheader center'>confirm rating</h3>


	
	<h3 class='subheader center'>for: <b><%= link_to @rating.ratee.pretty_name, @rating.ratee %></b></h3>

	<h3 class='subheader center'>invited you: <%= date_span(@rating.dateopened).html_safe %></h3>

	<h3 class='subheader center'>their comment: <% if @rating.comment != "" %><%= @rating.comment %><% else %><i>(no comment)</i><% end %></h3>

	<div class="large-6 large-offset-3 columns">

	<%= form_for(@rating) do |f| %>
		<%= f.text_area :review, :placeholder => 'your comment (optional; will be visible publicly)' %>

		<%= f.text_field :value, :value => '', :placeholder => 'an integer'+(@rating.unlimited ? '' : ' from -'+@rating.lowerlimit.to_s+' to +'+@rating.upperlimit.to_s) %>
		<%= f.submit class: "button right", value:"confirm rating" %>
		

		<% if @rating.errors[:value].length > 0 %>
			<span class="errorText">value <%= @rating.errors[:value].join(', ') %></span>
		<% end %>
		
		
		<% end %>

	</div>





	