<h1>Listing ratings</h1>
<% if @ratings && @ratings.length > 0 %>
	<p id="notice"><%= notice %></p>
	<table border = 1>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<% @ratings.each do |rating| %>
			<tr>
				<td><%= rating.rater %></td>
				<td><%= rating.ratee %></td>
				<td><%= rating.lowerlimit %></td>
				<td><%= rating.upperlimit %></td>
				<td><%= rating.unlimited %></td>
				<td><%= rating.comment %></td>
				<td><%= rating.dateopened %></td>
				<td><%= rating.dateclosed %></td>
				<td><%= rating.unique_token %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>No ratings found.</p>
<% end %>

<br/>

<%= link_to 'New rating', new_rating_path %>
