<div class="row">
  <div class="span6 offset3">
    <%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>A short description (e.g., "Ride-sharing with Bob")</p>
    <%= f.text_field :description, style: "width:300px" %>
  </div>
  <div class="actions">
    <%= f.submit "Create link", class: "btn btn-large btn-primary" %>
  </div>
<% end %>

  </div>
</div>



