<% unless notice.nil? %>
<div class="notice" onclick="$(this).css('display','none')">
	<%= notice %>
</div><br/>
<% end %>
		<div class="row">
		<%= form_for(@link, :url=>url_for(:controller => 'links', :action => 'create')) do |f| %>
			<div class='large-9 columns'>
				<%= f.text_field :description, :placeholder => 'description (e.g. "Ride sharing with Alex Smith")' %>
			</div>
			<div class="large-3 columns">
				<%= f.submit class: "button", value:"share link"%>
			</div>
		<% end %>
		</div>
	<br/>
	<% if current_user.links.length > 0 %>
		<h3 class='subheader'>links you've shared</h3>
		<ul class="nobullet">
		<% current_user.links.each do |link| %>
			<li>
				<a href="/s/<%= link.unique_token %>"><%= link.title %></a>
				<%= date_span(link.updated_at).html_safe %>
			</li>
		<% end %>
		</ul>
	<% else %>
		<h3 class='subheader'>You have no sharing links.</h3>
	<% end %>





	
	
