<div class='panel'>
<h2 class='subheader'>Generate a link to verify your Endorster identity online.</h2></div>
	

	<div>
	<% if !notice.nil? %><div><%= notice %></div><% end %>
	
		<%= form_for(@link, :url=>url_for(:controller => 'links', :action => 'create')) do |f| %>
		Description: <%= f.text_field :description, class:'disappearingDefault', default:'e.g. "Ride sharing with John Smith"' %>
		<%= f.submit class: "small button", value:"Create Link"%>
		<% end %>
	<br/>
	<% if @links.length > 0 %>
		<h3 class='subheader'>Links you've shared</h3>
		<table class="grayZebra">
		<% @links.each do |link| %>
				  <tr>
			<td style="width:100px;" title="<%= link.updated_at.strftime("%l:%M:%S%P UTC") %>"><%= link.updated_at.strftime("%-d %b '%y") %></td>
			<td>
				<a href="/s/<%= link.unique_token %>"><%= link.title %></a>
			</td>
			
		  </tr>
		<% end %>
		</table>
	<% else %>
		<h3>You have no sharing links.</h3>
	<% end %>

	
	</div>





	
	
