<% if !notice.nil? %><p id="notice"><%= notice %></p><% end %>

<div>
	<h3 style="display:inline">
		<a href="/users/<%= current_user.pretty_name %>" class="userlink">Welcome, <%= current_user.pretty_name %>!</a>
	</h3>
	<h3 style="display:inline"> &raquo; <a href="/links/" class="userlink">manage this is links/new sharing links</a> &raquo; new link</h3>
</div>

<br/>


<%= render 'form' %>
