<% unless notice.nil? %>
<div id="notice" onclick="$(this).css('display','none')">
	<%= notice %>
</div>
<% end %>

<h1 class="subheader center">
<% if @link.nil? %>
	link is expired or invalid</h1>
<% else %>
	sharing link from <%= @link.user.pretty_name %></h1>

	<h3 class="subheader center"><%= @link.title %></h3>

	<h3 class="subheader center">created: <%= date_span(@link.updated_at).html_safe %></h3>

	<p class="center"><a class="button" href="/user/<%= User.find(@link.user_id).pretty_name %>"><%= User.find(@link.user_id).pretty_name %>'s profile &raquo;</a></p>


	<% if !current_user.nil? and current_user.id==@link.user_id %>
		<a class="button secondary" href='/invite#share'>&laquo; go back</a>
		<input type="button" class="button alert" value="delete share" onclick="$('#areYouSure').css('display','inline');"/>
		<span id="areYouSure" style="display:none;">
			Are you sure?
			<a class="button alert" href='/s/<%= @link.unique_token %>/delete'>delete!</a>
			<input type="button" value="cancel" class="button secondary" onclick="$('#areYouSure').css('display','none');"/>
		</span>
		<br/><br/>
		
	<% end %>

<% end %>