<% if current_user.email != '' and current_user.email_verified %>

Invitations will be sent with your verified email address: <b><%= current_user.email %></b>. If you would like to use a different address, you can verify a new one in <a href="/settings">Settings</a>.

<%= form_for(@mass_email, :url => { :controller => :rating_invitations, :action => :send_email_invite }) do |f| %>
<div class='row'>
	<div class='large-12 columns'>
		<%= f.text_area :invitees, :style=>"height:50px;", :placeholder => 'email addresses to invite (separate multiple addresses with a comma and a space)'%>
	</div>
</div>

<% if @mass_email.errors[:invitees].length > 0 %>
<tr><td colspan=2><span class="errorText"><%= @mass_email.errors[:invitees].join(', ') %></span></td></tr>
<% end %>

<div class='row'>
	<div class='small-1 columns'>
	</div>
	<div class='large-4 columns'>
		<div class="row collapse">
			<div class="small-3 large-2 columns">
				<span class="prefix">&minus;</span>
			</div>
			<div class="small-9 large-10 columns">
				<%= f.text_field :lowerlimit, :placeholder => 'lower limit', :min => 0 %> 
			</div>
		</div>
	</div>
	<div class='large-4 columns'>
		<div class="row collapse">
			<div class="small-3 large-2 columns">
				<span class="prefix">+</span>
			</div>
			<div class="small-9 large-10 columns">
				<%= f.text_field :upperlimit, :placeholder => 'upper limit' %> 
			</div>
		</div>
	</div>

<div class='small-3 columns'>
	<p><%= f.check_box :unlimited, :onchange => "toggle_limits();" %> unlimited?</p>
</div>
</div>




<% if @mass_email.errors[:lowerlimit].length + @mass_email.errors[:upperlimit].length > 0 %>
<tr><td colspan=2><span class="errorText">Limits must be integers on either side of zero, and cannot be blank unless "unlimited" is  checked.</span></td></tr>
<% end %>		


<div class='row'>
	<div class='large-12 columns'>
		<%= f.text_field :subject, :placeholder => 'subject' %>
	</div>
</div>

<div class='row'>
	<div class='large-12 columns'>
		<% if @mass_email.errors[:message].length > 0 %>
		<span ><%= @mass_email.errors[:message].join(', ') %></span>
		<% end %>
		<%= f.text_area :message, placeholder: 'message', :style=>" height:80px;" %>
		<%= f.submit "Send emails", class: "button right" %>
	</div>
</div>

<% end %>

<% else %>

<div class='row'>
<p class='large-8 large-offset-2 columns'>It looks like you don't have a verified email address. To use this feature, you can go to <a href="/settings">Settings</a> to add and verify your email address.</p>
</div>
<% end %>






