<%= form_for(@rating, :url => { :controller => :rating_invitations, :action => :create }) do |f| %>

	

<div class='row'>

<div class='large-6 columns'>
<%= f.text_field :rater, :autocomplete =>"off", 
	:placeholder => 'username', :id=>"username1", :value => (@rating.rater ? @rating.rater.pretty_name : '') %>
</div>
		<div class='large-2 columns limits'>
			<div class="row collapse">
				<div class="small-3 large-2 columns">
					<span class="prefix">&ndash;</span>
				</div>
				<div class="small-9 large-10 columns">
					<%= f.text_field :lowerlimit, :placeholder => 'lower limit', :min => 0 %> 
				</div>
			</div>
		</div>
		<div class='large-2 columns limits'>
			<div class="row collapse">
				<div class="small-3 large-2 columns">
					<span class="prefix">+</span>
				</div>
				<div class="small-9 large-10 columns">
					<%= f.text_field :upperlimit, :placeholder => 'upper limit', :style=>"width:103%;" %> 
				</div>
			</div>
		</div>

		<div class='small-2 columns'>
			<p><%= f.check_box :unlimited, :onchange => "toggleLimits(this);" %> unlimited?</p>
		</div>

		<div class='large-6 columns'>
		<% if @rating.errors[:rater].length > 0 %>
		  <small class="error">username is invalid</small>
		<% end %>
		</div>

		<div class='large-6 columns'>
		<% if @rating.errors[:lowerlimit].length + @rating.errors[:upperlimit].length > 0 %>
		  <small class="error">Limits must be nonzero integers, unless "unlimited" is checked.</small>
		<% end %>
		</div>
</div>



	<%= f.text_field :comment, :placeholder => 'comment (optional; seen only by recipient)' %>
	<%= f.submit "invite rating", class: "button right" %>
	<div style="clear:both;"></div>
	<% end %>


<script>
function toggleLimits(that) {
	if ($(that).attr("checked")) {
		$(".limits").find("input").attr("disabled","disabled");
	} else {
		$(".limits").find("input").removeAttr("disabled");
	}
}

var prmstr = window.location.search.substr(1);
var prmarr = prmstr.split ("&");
var getParams = {};

for ( var i = 0; i < prmarr.length; i++) {
    var tmparr = prmarr[i].split("=");
    getParams[tmparr[0]] = tmparr[1];
}

if (getParams.user) {
  $("#username1").val(getParams.user);
}
</script>


