<% unless notice.nil? %>
<div class="notice" onclick="$(this).css('display','none')">
	<%= notice %>
</div>
<% end %>

<h3 class="subheader">awaiting rating from them</h2>

<% if @pending_invites.length > 0 %>

	<table>
		<% @pending_invites.each do |invitation| %>
		<tr>
			<td>to <a href="/user/<%= invitation.rater.pretty_name %>"><%= invitation.rater.pretty_name %></a></td>
			<td style="text-align:center;"><span style="font-size:16pt; font-weight:bold;">[<% if invitation.unlimited %>&infin;<% else %>&minus;<%= invitation.lowerlimit %>,+<%= invitation.upperlimit %><% end %>]</span></td>
			<td><%= invitation.comment %> <%= date_span(invitation.dateopened).html_safe %></td>
		</tr>
		<% end %>
	</table>

<% else %>
<p><i>none right now</i></p>
<% end %>




<h3 class="subheader">not accepted yet</h2>

<% if @unaccepted_invites.length > 0 %>

	<table>
		<% @unaccepted_invites.each do |invitation| %>
		<tr>
			<td><a href="/invitation/<%= invitation.id %>">unaccepted invitation</a></td>
			<td style="text-align:center;"><span style="font-size:16pt; font-weight:bold;">[<% if invitation.unlimited %>&infin;<% else %>&minus;<%= invitation.lowerlimit %>,+<%= invitation.upperlimit %><% end %>]</span></td>
			<td><%= invitation.comment %> <%= date_span(invitation.created_at).html_safe %></td>
		</tr>
		<% end %>
	</table>

<% else %>
<p><i>none right now</i></p>
<% end %>


