
<div class='row'>
  <div class="section-container tabs" data-section="tabs" data-options="deep_linking: true">
    <section>
      <p class="title" data-section-title><a href="#direct" id="direct">invite on Endorster or directly</a></p>
      <div class="content" data-slug="direct" data-section-content>
        <p><%= render 'form' %></p>
      </div>
    </section>
    <section>
      <p class="title" data-section-title><a href="#email" id="email">invite by email</a></p>
      <div class="content" data-slug="email" data-section-content>
        <p><%= render 'email_form' %></p>
      </div>
    </section>
    <section>
      <p class="title" data-section-title><a href="#share" id="share">share your profile</a></p>
      <div class="content" data-slug="share" data-section-content>
        <p><%= render 'links/link_form' %></p>
      </div>
    </section>
    <section>
      <p class="title" data-section-title><a href="#outstanding" id="outstanding">outstanding<% if @pending_invites.length + @unaccepted_invites.length > 0%> (<%= @pending_invites.length + @unaccepted_invites.length %>)<% end %></a></p>
      <div class="content" data-slug="outstanding" data-section-content>
        <p><p><%= render 'index' %></p></p>
      </div>
    </section>

  </div>
</div>


<script>
$(document).ready(function(){
  $(location.hash).click();
})
window.onhashchange = function(){
  $('.notice').css('display','none');
}

</script>