<% unless notice.nil? %>
<div id="notice" onclick="$(this).css('display','none')">
	<%= notice %>
</div>
<% end %>

<h1 class="subheader center">
<% if @rating.nil? %>
	invitation is expired or invalid</h1>
<% else %>
	invitation from <a href="/user/<%= @rating.ratee.pretty_name %>"><%= @rating.ratee.pretty_name %></a></h1>

	<h3 class="subheader center"><% if @rating.comment == "" %><i>(no comment)</i><% else %><%= @rating.comment %><% end %></h3>

	<h3 class="subheader center">range: <% if @rating.unlimited %>unlimited<% else %>&ndash;<%= @rating.lowerlimit %> to +<%= @rating.upperlimit %><% end %></h3>
	
	<h3 class="subheader center">created: <%= date_span(@rating.created_at).html_safe %></h3>



	<% if current_user==@rating.ratee %>
		<hr/>
		<% if @unique %>
			<p>If you send someone a link to this page, then they can use it to rate you. Make sure to copy the URL before leaving the page! If you don't, it will be lost, and you'll have to regenerate it.</p>
		<% elsif @rating.rater.nil? %>
			<p>This invitation has not been attached to the invitee's account yet. If you want to send it to someone, but you've lost the unique URL, you can regenerate it. (This will invalidate the old invitation, so you should resend the new link once you do.)</p>

			<input type="button" class="button success" value="regenerate" onclick="$('#areYouSure0').css('display','inline');"/>
			<span id="areYouSure0" style="display:none;">
				Are you sure?
				<a class="button success" href="<%= regenerate_invitation_url @rating.id %>">regenerate!</a>
				<input type="button" value="cancel" class="button secondary" onclick="$('#areYouSure0').css('display','none');"/>
			</span><br/>
		<% end %>



		<input type="button" class="button alert" value="delete invitation" onclick="$('#areYouSure').css('display','inline');"/>
		<span id="areYouSure" style="display:none;">
			Are you sure?
			<a class="button alert" href='/invitation/<%= @rating.id %>/delete'>delete!</a>
			<input type="button" value="cancel" class="button secondary" onclick="$('#areYouSure').css('display','none');"/>
		</span><br/>


		<a class="button secondary" href='/invite#outstanding'>&laquo; go back</a>
		
	<% else %>
		<% if current_user %>
			<div class="center">
			<%= form_for(@rating, :url => url_for(:controller => 'ratings', :action => 'accept_invitation')) do |f| %>
				<%= f.hidden_field :rater, :value => current_user.username %>
					<%= f.submit "add this invitation to your account", class: "button" %>
			<% end %>
			</div>
		<% else %>
				<p class="center">To accept this invitation,<br/><a class="button" href="/login?next=/i/<%= @secret_token %>">log in</a> or <a class="button" href="/signup?next=/i/<%= @secret_token %>">create an account</a></p>
		<% end %>
	<% end %>

<% end %>
