/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */


#username1{
	width: 447px;
}

 ul.ui-menu{
 	 display: table;
 	position: absolute;
 	top: 50px;
 	background-color: white;
 	width: 447px;

 }

ul.ui-menu a{
	display:inline-block;
	padding-right: 100%;
	padding-left: 10px;
	width: 447px;
	width: 100%;
	height: 100%;
}
 ul.ui-menu li {

	display: block;
 	border: 1px solid #fff;
 	border:none;
 	list-style-type: none;
 	color: blue;
 
 }

 /*dsdsda*/

 #active{
 	border-right: 3px solid black;
 }

 a.dismiss{
 	font-size: 12px;
 }

 ul.no-style{
 	list-style-type: none;
 }

 a.notification{
 	color: black;
 }

 .sitename a {
 	font-size:25pt;
 	margin-left:50px;
 	margin-right:20px;
 	font-variant: small-caps;
 	color: #fff;
 }
 .sitename a:hover {
 	color: #fff;
 	text-shadow: 0 0 20px #ffffff;
 }

 

 .center{
 	text-align: center;
 }

 div.margin-3{
 	margin: 3%;
 }

 h4.subheader{
 	margin-top: 3%;
 }

 div.hidden{
 	display: none;
 }

 .circle {
 	background-color:#0f0;
 	color:#000;
 	width:30px;
 	height:30px;
 	margin:0;
 	text-align:center;
 	line-height:30px;
 	border-radius:50%;
 }

 .notifications {
 	padding:15px!important;
 	width:60px!important;
 }
 .notifications:hover {
 	background-color: #000 !important;
 }

 p.title {
 	font-size:20pt;
 	text-align: center
 }


 span.date {
 	color:#777; font-style:italic; margin-left:5px;
 }


 textarea {
 	height:144px!important;
 	width:100%!important;
 	font-size:16pt!important;
 }

 input[type="text"], input[type="password"], .prefix {
 	height:50px!important;
 	font-size:20px!important;
 }

 input[type='checkbox'] {
 	width:30px;
 	height:30px;
 }




 #notice, .notice {
 	font-size:18pt;
 	font-style:italic;
 	background-color:#ff8;
 	padding:15px;
 	cursor: pointer;
 	-moz-border-radius: 10px;
 	border-radius: 10px;
 }

 .underinput {
 	margin-top: -15px;
 	margin-bottom: 15px;
 }


 .justified {
 	text-align:justify;
 	text-justify:inter-word;
 }

 a[href^="/user/"]:before {
 	content: url("user-icon-black.png");
 	margin-right:5px;
 }
 a[href^="/user/"].button:before {
 	content: url("user-icon.png");
 }

 a[href^="/user/"].notifications:before {
 	content:none;
 }

 a[name] {
 	color:black;
 }

 a[name]:hover {
 	color:black;
 }

 div.sidenav a:before {
 	content:none;
 }

 strong.matched {
 	text-decoration: underline;
 }


 ul.ui-autocomplete li {
 	border: 1px solid gray;
 	border-top:none;
 	line-height:50px;
 }

 ul.nobullet {
 	list-style-type:  none;
 }
