
<h1 class="subheader center">log in</h1>
	
	<div class="large-6 large-offset-3 columns">
	<%= form_for(@user_session, :url=>url_for(:controller => 'user_sessions', :action => 'create')+(params[:next].nil? ? '' : '?next='+params[:next])) do |f| %>

		
		<% if @user_session.errors[:username].length > 0 %>
			<%= f.text_field :username, :placeholder => "username", :class => "error" %>
			<small class="error">username <%= @user_session.errors[:username].join(', ') %></small>
		<% else %>
			<%= f.text_field :username, :placeholder => "username" %>
		<% end %>
		
		
		
		
		<% if @user_session.errors[:password].length > 0 %>
			<%= f.password_field :password, :placeholder => "password", :class => "error" %>
			<small class="error">password is incorrect</small>
		<% else %>
			<%= f.password_field :password, :placeholder => "password" %>
		<% end %>
		
		
		<%= f.submit "log in", class: "right button" %>
	<% end %>
	</div>