<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="sitename">
      <a href="/">Endorster</a>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">

      <li><a href="/about">about</a></li>
      <li><a href="/help">help</a></li>
      <li><a href="/api/docs">api</a></li>
      <li><a href="/legal">legal</a></li>
      <!-- <li class="divider"></li>
      <li><a href="#">Main Item 2</a></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Main Item 3</a>

        <ul class="dropdown">
          <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

            <ul class="dropdown">
              <li><label>Dropdown Level 2 Label</label></li>
              <li><a href="#">Dropdown Level 2a</a></li>
              <li><a href="#">Dropdown Level 2b</a></li>
              <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                <ul class="dropdown">
                  <li><label>Dropdown Level 3 Label</label></li>
                  <li><a href="#">Dropdown Level 3a</a></li>
                  <li><a href="#">Dropdown Level 3b</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Level 2d</a></li>
              <li><a href="#">Dropdown Level 2e</a></li>
              <li><a href="#">Dropdown Level 2f</a></li>
            </ul>
          </li>
          <li><a href="#">Dropdown Level 1b</a></li>
          <li><a href="#">Dropdown Level 1c</a></li>
          <li class="divider"></li>
          <li><a href="#">Dropdown Level 1d</a></li>
          <li><a href="#">Dropdown Level 1e</a></li>
          <li><a href="#">Dropdown Level 1f</a></li>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>
      <li class="divider"></li> -->
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
      <li class="divider"></li>
      <% if current_user.notifications.length > 0 %>
        <li><a class="notifications" href="/user/<%=current_user.username %>/activity"><div class="circle"><%= current_user.notifications.length %></div></a></li>
      <% end %>
      <li class="divider hide-for-small"></li>


    <li class="has-dropdown"><a href="#"><%= current_user.pretty_name %></a>
        <ul class="dropdown">
          <li><a href="/invite"><i class="icon-large icon-message-out"></i> invite</a></li>
          <li><a href="/rate"><i class="icon-large icon-plus-minus"></i> rate<% if current_user.awaiting > 0 %> (<%= current_user.awaiting %>)<% end %></a></li>
          <li><a href="/profile"><i class="icon-large icon-user"></i> profile</a></li>
          <li><a href="/settings"><i class="icon-large icon-cog"></i> settings</a></li>
          <li><a href="/logout"><i class="icon-large icon-share"></i> log out</a></li>
        </ul>
      </li>
    </li>
    <%else%>
    <li><a href="/signup">sign up</a></li>
    <li><a href="/login">login</a></li>
    <%end%>
    <li class="has-form">
    </li>
  </ul>
</section>
</nav>
