
<% unless @viewing_user.nil? %>
<div class='large-3 columns sidenav'>
  <div class="section-container accordion"  data-section="accordion"> 
    <section class="section nav" id=<% if @page =='overview' %> 'active' <%end%> >  
      <p class="title" data-section-title><a href="/user/<%= @viewing_user.pretty_name %>">overview</a></p>
    </section>
    <!-- <section class="section">
      <p class="title" data-section-title><a href="">ratings</a></p>
    </section>
    <section class="section">
      <p class="title" data-section-title><a href="">identity</a></p>
    </section> -->
    <section class="section nav" id= <% if @page =='activity' %> 'active' <%end%> > 
      <p class="title" data-section-title><a href="/user/<%= @viewing_user.pretty_name %>/activity">activity</a></p>
    </section>
  </div>
</div>
<% end %>

